.menu{
    background-color: rgb(57, 180, 107);
    color: white;
    text-align: center;
    font-size: 150%;
    width: 20%;
    width: 20%;
    height: 220px;
    float: left;
}
#glowny{
    height: 300px;
    clear: both;
}
footer{
    background-color: rgb(57, 180, 107);
    color: white;
    text-align: center;
    font-size: 150%;
}
a{
    color: white;
}
#przycisk{
    background-color: green;
    border: 1px solid green;
    color: white;
    font-weight: bold;
    padding: 15px;
}
h1{
    color: rgb(27, 163, 82);
}