html{
    font-family: Verdana;
}
#logo{
    background-color: #FF9F79;
    height: 270px;
    width: 30%;
}
#lista, #formularz{
    background-color: #FF9F79;
    color: green;
    height: 270px;
    width: 35%;
}
footer{
    background-color: #188256;
    height: 150px;
    padding: 10px;
}
a:link{
    background-color: green;
    padding: 10px;
    margin: 10px;
    border: 2px solid orange;
}
a:visited{
    background-color: violet;
}