html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mini{
    background-color: sienna;
    height: 100px;
    width: 20%;
    float: left;
}
#tytul{
    background-color: sienna;
    height: 100px;
    width: 80%;
    color: orange;
    float: right;
}
#lewy{
    background-color: burlywood;
    height: 700px;
    width: 70%;
    float: left;
}
#prawy{
    background-color: burlywood;
    height: 700px;
    width: 30%;
    float: right;
}
#stopka{
    clear: both;
    background-color: sienna;
    color: orange;
    text-align: center;
}
img{
    margin: 7px;
    padding: 5px;
    border: 1px solid rosybrown;
}
img:hover{
    border-color: maroon;
}